In [1]:
import pandas as pd
import numpy as np

In [164]:
df=pd.read_csv('./개인타자.csv',index_col=0)

In [165]:
df.columns

Index(['G_ID', 'GDAY_DS', 'T_ID', 'VS_T_ID', 'HEADER_NO', 'TB_SC', 'P_ID',
       'START_CK', 'BAT_ORDER_NO', 'PA', 'AB', 'RBI', 'RUN', 'HIT', 'H2', 'H3',
       'HR', 'SB', 'CS', 'SH', 'SF', 'BB', 'IB', 'HP', 'KK', 'GD', 'ERR',
       'LOB', 'P_HRA_RT', 'P_AB_CN', 'P_HIT_CN', 'GYEAR', 'NAME', 'POSITION',
       'AGE_VA', 'MONEY', 'GWEEK', 'STADIUM', 'HOME'],
      dtype='object')

In [88]:
df

,G_ID,GDAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,P_ID,START_CK,BAT_ORDER_NO,PA,...,GYEAR,NAME,POSITION,AGE_VA,MONEY,GWEEK,STADIUM,HOME,OBP,H
0,20160401HHLG0,20160401,HH,LG,0,T,60404,0,3,1,...,2016,송주호,외,28.0,4000만원,금,잠실,0,1.00,1
1,20160401HHLG0,20160401,LG,HH,0,B,61102,1,8,3,...,2016,유강남,포,24.0,8100만원,금,잠실,1,0.00,0
2,20160401HHLG0,20160401,LG,HH,0,B,61186,1,7,4,...,2016,이천웅,외,28.0,2800만원,금,잠실,1,1.00,4
3,20160401HHLG0,20160401,LG,HH,0,B,62164,0,9,1,...,2016,서상우,내,27.0,6000만원,금,잠실,1,1.00,0
4,20160401HHLG0,20160401,HH,LG,0,T,62700,1,9,2,...,2016,하주석,내,22.0,3200만원,금,잠실,0,0.50,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81097,20200719WOSK0,20200719,SK,WO,0,B,75847,1,3,4,...,2020,최정,내,33.0,120000만원,일,문학,1,0.25,1
81098,20200719WOSK0,20200719,SK,WO,0,B,76802,1,9,4,...,2020,김성현,내,33.0,21000만원,일,문학,1,1.00,3
81099,20200719WOSK0,20200719,SK,WO,0,B,77463,0,6,1,...,2020,채태인,내,38.0,10000만원,일,문학,1,1.00,0
81100,20200719WOSK0,20200719,WO,SK,0,T,78168,1,1,5,...,2020,서건창,내,31.0,35000만원,일,문학,0,0.00,0
81101,20200719WOSK0,20200719,WO,SK,0,T,79456,1,6,4,...,2020,이지영,포,34.0,30000만원,일,문학,0,0.00,0

In [220]:
df1=df.groupby(['GYEAR','P_ID'],as_index=False)[['PA', 'AB', 'RBI', 'RUN', 'HIT', 'H2', 'H3',
       'HR', 'SB', 'CS', 'SH', 'SF', 'BB', 'IB', 'HP', 'KK', 'GD', 'ERR',
       'LOB', 'P_HRA_RT', 'P_AB_CN', 'P_HIT_CN']].sum()
df1

,GYEAR,P_ID,PA,AB,RBI,RUN,HIT,H2,H3,HR,...,BB,IB,HP,KK,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN
0,2016,60100,21,18,3,4,6,2,0,1,...,2,0,1,6,1,0,4,1.000000,3,1
1,2016,60146,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.000000,0,0
2,2016,60263,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.000000,0,0
3,2016,60343,254,231,22,16,47,10,0,6,...,9,0,3,65,7,8,36,5.833333,59,8
4,2016,60404,52,47,1,3,5,0,0,0,...,3,0,0,12,1,0,7,0.000000,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1716,2020,79402,262,219,20,42,73,15,1,1,...,34,0,6,32,10,5,53,13.500000,38,15
1717,2020,79456,157,140,22,14,45,6,1,0,...,12,1,2,17,4,3,43,11.500000,42,16
1718,2020,79545,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.000000,0,0
1719,2020,79608,247,221,26,23,61,16,0,4,...,17,1,4,29,5,8,50,11.666667,69,18
1720,2020,79705,25,18,1,1,3,1,0,0,...,3,0,1,6,2,2,5,0.000000,5,0

## OBP

In [273]:
df1['H1']=df1['HIT']-(df1['H2']+df1['H3']+df1['HR'])

In [274]:
df1['OBP']=(df1['H']+df1['BB']+df1['HP'])/(df1['AB']+df1['BB']+df1['HP']+df1['SF'])

In [275]:
df1['OBP']

0       0.571429
1            NaN
2            NaN
3       0.304878
4       0.160000
          ...
1716    0.498084
1717    0.425806
1718         NaN
1719    0.418033
1720    0.347826
Name: OBP, Length: 1721, dtype: float64

## OPS

출루율 + 장타율

## wOBA

<img src="https://t1.daumcdn.net/cfile/tistory/2475254754FB25A635">

분모를 PA-IBB로 계산했을 때 다른 사이트에서 계산한 값이랑 비슷해지는 것 같기도..

In [276]:
import requests
from bs4 import BeautifulSoup

req = requests.get('http://www.statiz.co.kr/constant.php')
html = req.text
soup = BeautifulSoup(html, 'html.parser')
tables = soup.select('body > div.wrapper > div.content-wrapper > div > section.content > div > div.col-md-12.col-xs-12.col-sm-12.col-lg-9 > div > div > div > div.box-body.no-padding.table-responsive > table')
table = tables[0]

In [277]:
table_html=str(table)
table_df_list=pd.read_html(table_html)
table_df = table_df_list[0]

In [278]:
idx
idx=table_df[0:5]

In [279]:
idx.rename(columns = {'연도':'GYEAR'}, inplace = True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [280]:
idx=idx[['GYEAR','wBB','wHBP','w1B','w2B','w3B','wHR']]
idx

   GYEAR    wBB   wHBP    w1B    w2B    w3B    wHR
0   2020  0.731  0.759  0.936  1.278  1.586  1.943
1   2019  0.721  0.752  0.945  1.317  1.653  2.074
2   2018  0.726  0.753  0.920  1.242  1.533  1.857
3   2017  0.728  0.756  0.927  1.259  1.558  1.901
4   2016  0.747  0.774  0.944  1.273  1.569  1.898

In [281]:
df1

,GYEAR,P_ID,PA,AB,RBI,RUN,HIT,H2,H3,HR,...,KK,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,H,OBP,H1
0,2016,60100,21,18,3,4,6,2,0,1,...,6,1,0,4,1.000000,3,1,9,0.571429,3
1,2016,60146,0,0,0,0,0,0,0,0,...,0,0,0,0,0.000000,0,0,0,NaN,0
2,2016,60263,0,0,0,0,0,0,0,0,...,0,0,0,0,0.000000,0,0,0,NaN,0
3,2016,60343,254,231,22,16,47,10,0,6,...,65,7,8,36,5.833333,59,8,63,0.304878,31
4,2016,60404,52,47,1,3,5,0,0,0,...,12,1,0,7,0.000000,8,0,5,0.160000,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1716,2020,79402,262,219,20,42,73,15,1,1,...,32,10,5,53,13.500000,38,15,90,0.498084,56
1717,2020,79456,157,140,22,14,45,6,1,0,...,17,4,3,43,11.500000,42,16,52,0.425806,38
1718,2020,79545,0,0,0,0,0,0,0,0,...,0,0,0,0,0.000000,0,0,0,NaN,0
1719,2020,79608,247,221,26,23,61,16,0,4,...,29,5,8,50,11.666667,69,18,81,0.418033,41
1720,2020,79705,25,18,1,1,3,1,0,0,...,6,2,2,5,0.000000,5,0,4,0.347826,2

In [282]:
data=pd.merge(df1,idx,on='GYEAR')

In [286]:
data['wOBA']=(data['wBB']*(data['BB']-data['IB'])+data['wHBP']*data['HP']+data['w1B']*data['H1']+data['w2B']*data['H2']+data['w3B']*data['H3']+data['wHR']*data['HR'])/(data['AB']+data['BB']-data['IB']+data['SF']+data['HP'])

In [303]:
data['wOBA2']=(data['wBB']*(data['BB']-data['IB'])+data['wHBP']*data['HP']+data['w1B']*data['H1']+data['w2B']*data['H2']+data['w3B']*data['H3']+data['wHR']*data['HR'])/(data['PA']-data['IB'])

In [304]:
data

,GYEAR,P_ID,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,SH,SF,BB,IB,HP,KK,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,H,OBP,H1,wBB,wHBP,w1B,w2B,w3B,wHR,wOBA,BABIP,wOBA2
0,2016,60100,21,18,3,4,6,2,0,1,0,1,0,0,2,0,1,6,1,0,4,1.000000,3,1,9,0.571429,3,0.747,0.774,0.944,1.273,1.569,1.898,0.454476,0.454545,0.454476
1,2016,60146,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0,0,0,NaN,0,0.747,0.774,0.944,1.273,1.569,1.898,NaN,NaN,NaN
2,2016,60263,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0,0,0,NaN,0,0.747,0.774,0.944,1.273,1.569,1.898,NaN,NaN,NaN
3,2016,60343,254,231,22,16,47,10,0,6,1,1,8,3,9,0,3,65,7,8,36,5.833333,59,8,63,0.304878,31,0.747,0.774,0.944,1.273,1.569,1.898,0.253768,0.251534,0.245776
4,2016,60404,52,47,1,3,5,0,0,0,0,2,2,0,3,0,0,12,1,0,7,0.000000,8,0,5,0.160000,5,0.747,0.774,0.944,1.273,1.569,1.898,0.139220,0.142857,0.133865
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1716,2020,79402,262,219,20,42,73,15,1,1,7,3,1,2,34,0,6,32,10,5,53,13.500000,38,15,90,0.498084,56,0.731,0.759,0.936,1.278,1.586,1.943,0.400471,0.382979,0.398943
1717,2020,79456,157,140,22,14,45,6,1,0,1,0,2,1,12,1,2,17,4,3,43,11.500000,42,16,52,0.425806,38,0.731,0.759,0.936,1.278,1.586,1.943,0.353123,0.362903,0.348596
1718,2020,79545,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0,0,0,NaN,0,0.731,0.759,0.936,1.278,1.586,1.943,NaN,NaN,NaN
1719,2020,79608,247,221,26,23,61,16,0,4,10,3,3,2,17,1,4,29,5,8,50,11.666667,69,18,81,0.418033,41,0.731,0.759,0.936,1.278,1.586,1.943,0.334683,0.300000,0.330602
1720,2020,79705,25,18,1,1,3,1,0,0,0,0,2,1,3,0,1,6,2,2,5,0.000000,5,0,4,0.347826,2,0.731,0.759,0.936,1.278,1.586,1.943,0.265304,0.230769,0.244080

In [307]:
data[data['P_ID']==79705]

,GYEAR,P_ID,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,SH,SF,BB,IB,HP,KK,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,H,OBP,H1,wBB,wHBP,w1B,w2B,w3B,wHR,wOBA,BABIP,wOBA2
361,2016,79705,58,45,8,12,9,0,0,1,0,0,0,2,9,0,2,17,1,1,5,1.500000,11,2,10,0.362069,8,0.747,0.774,0.944,1.273,1.569,1.898,0.305534,0.275862,0.305534
727,2017,79705,103,85,13,10,20,4,0,3,0,0,1,2,13,0,2,24,3,1,19,4.500000,23,5,27,0.411765,13,0.728,0.756,0.927,1.259,1.558,1.901,0.331039,0.283333,0.327825
1063,2018,79705,102,85,17,15,22,5,0,4,1,0,3,0,11,0,3,26,3,0,20,7.333333,22,9,31,0.454545,13,0.726,0.753,0.920,1.242,1.533,1.857,0.362051,0.327273,0.351402
1418,2019,79705,117,104,18,7,24,4,0,3,2,1,1,1,11,0,0,24,1,2,23,8.000000,33,10,31,0.362069,17,0.721,0.752,0.945,1.317,1.653,2.074,0.305914,0.269231,0.303299
1720,2020,79705,25,18,1,1,3,1,0,0,0,0,2,1,3,0,1,6,2,2,5,0.000000,5,0,4,0.347826,2,0.731,0.759,0.936,1.278,1.586,1.943,0.265304,0.230769,0.244080

## WPA

## BABIP

 (총 안타수-홈런)/(타수-삼진-홈런+희생플라이)

In [297]:
data['BABIP']=(data['HIT']-data['HR'])/(data['AB']-data['KK']-data['HR']+data['SF'])

In [298]:
data

,GYEAR,P_ID,PA,AB,RBI,RUN,HIT,H2,H3,HR,SB,CS,SH,SF,BB,IB,HP,KK,GD,ERR,LOB,P_HRA_RT,P_AB_CN,P_HIT_CN,H,OBP,H1,wBB,wHBP,w1B,w2B,w3B,wHR,wOBA,BABIP
0,2016,60100,21,18,3,4,6,2,0,1,0,1,0,0,2,0,1,6,1,0,4,1.000000,3,1,9,0.571429,3,0.747,0.774,0.944,1.273,1.569,1.898,0.454476,0.454545
1,2016,60146,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0,0,0,NaN,0,0.747,0.774,0.944,1.273,1.569,1.898,NaN,NaN
2,2016,60263,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0,0,0,NaN,0,0.747,0.774,0.944,1.273,1.569,1.898,NaN,NaN
3,2016,60343,254,231,22,16,47,10,0,6,1,1,8,3,9,0,3,65,7,8,36,5.833333,59,8,63,0.304878,31,0.747,0.774,0.944,1.273,1.569,1.898,0.253768,0.251534
4,2016,60404,52,47,1,3,5,0,0,0,0,2,2,0,3,0,0,12,1,0,7,0.000000,8,0,5,0.160000,5,0.747,0.774,0.944,1.273,1.569,1.898,0.139220,0.142857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1716,2020,79402,262,219,20,42,73,15,1,1,7,3,1,2,34,0,6,32,10,5,53,13.500000,38,15,90,0.498084,56,0.731,0.759,0.936,1.278,1.586,1.943,0.400471,0.382979
1717,2020,79456,157,140,22,14,45,6,1,0,1,0,2,1,12,1,2,17,4,3,43,11.500000,42,16,52,0.425806,38,0.731,0.759,0.936,1.278,1.586,1.943,0.353123,0.362903
1718,2020,79545,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000,0,0,0,NaN,0,0.731,0.759,0.936,1.278,1.586,1.943,NaN,NaN
1719,2020,79608,247,221,26,23,61,16,0,4,10,3,3,2,17,1,4,29,5,8,50,11.666667,69,18,81,0.418033,41,0.731,0.759,0.936,1.278,1.586,1.943,0.334683,0.300000
1720,2020,79705,25,18,1,1,3,1,0,0,0,0,2,1,3,0,1,6,2,2,5,0.000000,5,0,4,0.347826,2,0.731,0.759,0.936,1.278,1.586,1.943,0.265304,0.230769