In [1]:
import numpy as np
import pandas as pd

In [2]:
pitcher= pd.read_csv('개인투수.csv',encoding= "utf-8")
pitcher

,Unnamed: 0,G_ID,GDAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,P_ID,START_CK,RELIEF_CK,...,P2_WHIP_RT,CB_WHIP_RT,GYEAR,NAME,POSITION,AGE_VA,MONEY,GWEEK,STADIUM,HOME
0,0,20160401HHLG0,20160401,LG,HH,0,B,60146,0,1,...,1.000000,1.50,2016,이승현,투,25.0,3700만원,금,잠실,1
1,1,20160401HHLG0,20160401,LG,HH,0,B,61891,0,1,...,1.800000,1.50,2016,임정우,투,25.0,12500만원,금,잠실,1
2,2,20160401HHLG0,20160401,LG,HH,0,B,62146,0,1,...,3.000000,0.00,2016,최성훈,투,27.0,3500만원,금,잠실,1
3,3,20160401HHLG0,20160401,LG,HH,0,B,62698,1,0,...,1.588235,3.75,2016,소사,투,31.0,500000달러,금,잠실,1
4,4,20160401HHLG0,20160401,HH,LG,0,T,65764,0,1,...,1.500000,0.00,2016,김민우,투,21.0,3800만원,금,잠실,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27799,27799,20200719WOSK0,20200719,WO,SK,0,T,67313,1,0,...,1.000000,2.25,2020,브리검,투,32.0,800000달러,일,문학,0
27800,27800,20200719WOSK0,20200719,WO,SK,0,T,67391,0,1,...,0.000000,0.00,2020,김재웅,투,22.0,2700만원,일,문학,0
27801,27801,20200719WOSK0,20200719,WO,SK,0,T,68341,0,1,...,0.000000,1.50,2020,안우진,투,21.0,4800만원,일,문학,0
27802,27802,20200719WOSK0,20200719,WO,SK,0,T,69399,0,1,...,3.000000,0.00,2020,윤정현,투,27.0,2700만원,일,문학,0
27803,27803,20200719WOSK0,20200719,SK,WO,0,B,75138,0,1,...,0.000000,0.00,2020,신재웅,투,38.0,11000만원,일,문학,1

In [3]:
pitcher_grouped= pitcher.drop(['Unnamed: 0','G_ID','GDAY_DS','T_ID','VS_T_ID','TB_SC','WLS','P_WHIP_RT',
                         'P2_WHIP_RT','CB_WHIP_RT','P_ID'], axis=1)

pitcher_grouped= pitcher_grouped.groupby(['NAME', 'GYEAR'], as_index=False).mean()

pitcher_grouped

,NAME,GYEAR,HEADER_NO,START_CK,RELIEF_CK,CG_CK,QUIT_CK,HOLD,INN2,BF,...,HP,KK,GD,WP,BK,ERR,R,ER,AGE_VA,HOME
0,가뇽,2020,0.000000,1.0,0.0,0.0,0.000000,0.0,16.833333,97.250000,...,0.333333,5.833333,0.333333,0.416667,0.000000,0.000000,2.833333,2.416667,30.0,0.333333
1,강동연,2016,0.000000,0.0,1.0,0.0,0.636364,0.0,2.090909,12.000000,...,0.000000,0.545455,0.000000,0.000000,0.000000,0.000000,0.727273,0.636364,24.0,0.363636
2,강동연,2018,0.000000,0.0,1.0,0.0,0.500000,0.0,4.375000,24.125000,...,0.000000,0.625000,0.000000,0.000000,0.000000,0.125000,1.000000,0.875000,26.0,0.500000
3,강동연,2019,0.000000,0.0,1.0,0.0,0.400000,0.0,3.000000,17.800000,...,0.000000,0.600000,0.200000,0.000000,0.000000,0.000000,0.600000,0.600000,27.0,0.000000
4,강동연,2020,0.000000,0.0,1.0,0.0,0.307692,0.0,3.153846,15.923077,...,0.076923,0.769231,0.076923,0.000000,0.000000,0.000000,0.615385,0.615385,28.0,0.384615
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1229,황인준,2019,0.000000,0.4,0.6,0.0,0.200000,0.0,6.800000,42.200000,...,0.000000,2.200000,0.000000,0.400000,0.000000,0.000000,1.600000,1.600000,28.0,0.800000
1230,황재규,2016,0.000000,0.0,1.0,0.0,0.500000,0.0,5.500000,43.500000,...,0.500000,1.000000,0.000000,0.000000,0.000000,0.000000,5.500000,5.000000,30.0,1.000000
1231,후랭코프,2018,0.000000,1.0,0.0,0.0,0.000000,0.0,16.000000,93.714286,...,0.785714,4.785714,0.642857,0.535714,0.000000,0.000000,2.285714,2.214286,30.0,0.392857
1232,후랭코프,2019,0.045455,1.0,0.0,0.0,0.000000,0.0,16.000000,94.318182,...,0.590909,5.045455,0.318182,0.090909,0.045455,0.045455,2.181818,2.136364,31.0,0.500000
1233,휠러,2018,0.000000,1.0,0.0,0.0,0.000000,0.0,16.052632,99.789474,...,0.526316,4.947368,0.473684,0.105263,0.052632,0.000000,3.263158,3.052632,28.0,0.368421

In [4]:
pitcher_grouped['ERA']= 9*pitcher_grouped['ER']/(pitcher_grouped['INN2']/3)
pitcher_grouped.loc[pitcher_grouped['INN2']==0, 'ERA']=np.nan #INN2가 0인 행은 모두 nan처리
pitcher_grouped.loc[pitcher_grouped['INN2']==0, 'ERA']

27     NaN
388    NaN
744    NaN
794    NaN
910    NaN
1033   NaN
1086   NaN
1167   NaN
Name: ERA, dtype: float64

In [18]:
pitcher_grouped['C']= pitcher_grouped['ERA'] - (13 * pitcher_grouped['HR']  + 3 *(pitcher_grouped['BB'] +pitcher_grouped['HP']) -pitcher_grouped['KK']) / (pitcher_grouped['INN2']/3)
C= pitcher_grouped[['NAME','GYEAR','C']]

In [14]:
pitcher_grouped['C'].mean()

3.9533223441476277

In [19]:
pd.merge(pitcher,C)

,Unnamed: 0,G_ID,GDAY_DS,T_ID,VS_T_ID,HEADER_NO,TB_SC,P_ID,START_CK,RELIEF_CK,...,CB_WHIP_RT,GYEAR,NAME,POSITION,AGE_VA,MONEY,GWEEK,STADIUM,HOME,C
0,0,20160401HHLG0,20160401,LG,HH,0,B,60146,0,1,...,1.5,2016,이승현,투,25.0,3700만원,금,잠실,1,2.634146
1,46,20160402HHLG0,20160402,LG,HH,0,B,60146,0,1,...,6.0,2016,이승현,투,25.0,3700만원,토,잠실,1,2.634146
2,193,20160407LGHT0,20160407,LG,HT,0,T,60146,0,1,...,0.0,2016,이승현,투,25.0,3700만원,목,광주,0,2.634146
3,253,20160408LGSK0,20160408,LG,SK,0,T,60146,0,1,...,1.5,2016,이승현,투,25.0,3700만원,금,문학,0,2.634146
4,390,20160412LTLG0,20160412,LG,LT,0,B,60146,0,1,...,6.0,2016,이승현,투,25.0,3700만원,화,잠실,1,2.634146
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27592,27691,20200717LTSS0,20200717,LT,SS,0,T,50556,0,1,...,0.0,2020,최준용,투,19.0,2700만원,금,대구,0,5.000000
27593,27654,20200716NCWO0,20200716,WO,NC,0,B,66018,0,1,...,0.0,2020,김선기,투,29.0,4200만원,목,고척,1,2.250000
27594,27694,20200717LTSS0,20200717,LT,SS,0,T,62595,0,1,...,1.5,2020,정태승,투,32.0,2800만원,금,대구,0,10.800000
27595,27746,20200718LTSS0,20200718,LT,SS,0,T,76225,0,1,...,0.0,2020,김건국,투,32.0,5400만원,토,대구,0,1.000000
27596,27751,20200718OBHT0,20200718,OB,HT,0,T,67246,0,1,...,0.0,2020,김명신,투,27.0,5200만원,토,광주,0,1.000000

In [4]:
#7. DIPS의 개량된 형태 중 하나인 'DICE' 열 추가
pitcher['DICE']= 3.00 + (13* pitcher['HR'] + 3*( pitcher['BB']+ pitcher['HP'])-2* pitcher['KK'])/( pitcher['INN2'] /3 )
pitcher

            Unnamed: 0  HEADER_NO  START_CK  RELIEF_CK  CG_CK  QUIT_CK  HOLD  \
NAME GYEAR
가뇽   2020       315704          0        12          0      0        0     0
강동연  2016        26983          0         0         11      0        7     0
     2018       146395          0         0          8      0        4     0
     2019       120609          0         0          5      0        2     0
     2020       344534          0         0         13      0        4     0
...                ...        ...       ...        ...    ...      ...   ...
황인준  2019        95531          0         2          3      0        1     0
황재규  2016         8737          0         0          2      0        1     0
후랭코프 2018       429111          0        28          0      0        0     0
     2019       480573          1        22          0      0        0     0
휠러   2018       272995          0        19          0      0        0     0

            INN2    BF   PA  ...   KK  GD  WP  BK  ERR   R  ER  AGE_VA  HOME  \
NAME GYEAR                   ...
가뇽   2020    202  1167  291  ...   70   4   5   0    0  34  29   360.0     4
강동연  2016     23   132   36  ...    6   0   0   0    0   8   7   264.0     4
     2018     35   193   49  ...    5   0   0   0    1   8   7   208.0     4
     2019     15    89   22  ...    3   1   0   0    0   3   3   135.0     0
     2020     41   207   56  ...   10   1   0   0    0   8   8   364.0     5
...          ...   ...  ...  ...  ...  ..  ..  ..  ...  ..  ..     ...   ...
황인준  2019     34   211   53  ...   11   0   2   0    0   8   8   140.0     4
황재규  2016     11    87   24  ...    2   0   0   0    0  11  10    60.0     2
후랭코프 2018    448  2624  621  ...  134  18  15   0    0  64  62   840.0    11
     2019    352  2075  495  ...  111   7   2   1    1  48  47   682.0    11
휠러   2018    305  1896  459  ...   94   9   2   1    0  62  58   532.0     7

                DICE
NAME GYEAR
가뇽   2020   2.509901
강동연  2016   7.173913
     2018   5.657143
     2019   7.000000
     2020   5.707317
...              ...
황인준  2019   4.676471
황재규  2016   7.909091
후랭코프 2018   3.796875
     2019   2.761364
휠러   2018   3.983607

[1234 rows x 32 columns]

In [5]:
pitcher['ERA'] = 9 * pitcher['ER'] / (pitcher['INN2']/ 3) 
pitcher.head()

            Unnamed: 0  HEADER_NO    P_ID  START_CK  RELIEF_CK  CG_CK  \
NAME GYEAR
가뇽   2020       315704          0  607680        12          0      0
강동연  2016        26983          0  674245         0         11      0
     2018       146395          0  490360         0          8      0
     2019       120609          0  306475         0          5      0
     2020       344534          0  796835         0         13      0

            QUIT_CK  HOLD  INN2    BF  ...  GD  WP  BK  ERR   R  ER  AGE_VA  \
NAME GYEAR                             ...
가뇽   2020         0     0   202  1167  ...   4   5   0    0  34  29   360.0
강동연  2016         7     0    23   132  ...   0   0   0    0   8   7   264.0
     2018         4     0    35   193  ...   0   0   0    1   8   7   208.0
     2019         2     0    15    89  ...   1   0   0    0   3   3   135.0
     2020         4     0    41   207  ...   1   0   0    0   8   8   364.0

            HOME      DICE       ERA
NAME GYEAR
가뇽   2020      4  2.509901  3.876238
강동연  2016      4  7.173913  8.217391
     2018      4  5.657143  5.400000
     2019      0  7.000000  5.400000
     2020      5  5.707317  5.268293

[5 rows x 34 columns]

In [11]:
#8-1 FIP 추가 (계수 C 계산 포함)
C= pitcher['ERA']/len() - (13 * pitcher['HR'] + 3 *(pitcher['BB'] + pitcher['HP']) - 2 * pitcher['KK'] ) / (pitcher['INN2']/3)
C #보통 3.1~3.2값이 나온다고 하는데,,, 이상하다.

NAME  GYEAR
가뇽    2020      4.366337
강동연   2016      4.043478
      2018      2.742857
      2019      1.400000
      2020      2.560976
                 ...
황인준   2019      4.676471
황재규   2016     19.636364
후랭코프  2018      2.939732
      2019      3.843750
휠러    2018      4.150820
Length: 1234, dtype: float64

In [12]:
#8-2. '한국프로야구에서 FIP 계수의 추정' 에서 제시한 kFIP 추가
pitcher['kFIP'] = C + (14* pitcher['HR'] + 3*(pitcher['BB']+pitcher['HP']) - pitcher['KK'])/ (pitcher['INN2']/3)

In [6]:
#9. RA9 (Run Allowed Per 9 Innings Pitched; 9이닝당 평균실점) 추가
pitcher['RA9'] = 9 * pitcher['R'] / (pitcher['INN2'] / 3)

In [7]:
#10. HR/9 (Home Runs Allowed Per 9 Innings Pitched;9이닝당 피홈런 개수) 추가
pitcher['HR/9'] = 9 * pitcher['HR'] / (pitcher['INN2'] / 3)

In [8]:
#11. H/9 (Hits Runs Allowed Per 9 Innings Pitched; 9이닝당 피안타 개수)
pitcher['H/9'] = 9 * pitcher['HIT'] / (pitcher['INN2'] / 3)

In [9]:
#OAVG/OOBP/OSLG/OOPS – 피안타율/피출루율/피장타율/피OPS
pitcher['OAVG'] = pitcher['HIT']/ pitcher['AB']
pitcher['OOBP'] = (pitcher['HIT'] + pitcher['BB'] + pitcher['HP'] ) / (pitcher['AB'] + pitcher['BB'] + pitcher['HP'] + pitcher['SF'])
pitcher['OSLG'] = ( pitcher['HIT'] + 2*pitcher['H2'] + 3*pitcher['H3']+ 4*pitcher['HR'])/pitcher['AB']
pitcher['OOPS'] = pitcher['OOBP']+ pitcher['OSLG']

In [10]:
pitcher

            Unnamed: 0  HEADER_NO     P_ID  START_CK  RELIEF_CK  CG_CK  \
NAME GYEAR
가뇽   2020       315704          0   607680        12          0      0
강동연  2016        26983          0   674245         0         11      0
     2018       146395          0   490360         0          8      0
     2019       120609          0   306475         0          5      0
     2020       344534          0   796835         0         13      0
...                ...        ...      ...       ...        ...    ...
황인준  2019        95531          0   328090         2          3      0
황재규  2016         8737          0   159516         0          2      0
후랭코프 2018       429111          0  1910720        28          0      0
     2019       480573          1  1501280        22          0      0
휠러   2018       272995          0  1306098        19          0      0

            QUIT_CK  HOLD  INN2    BF  ...  HOME      DICE        ERA  \
NAME GYEAR                             ...
가뇽   2020         0     0   202  1167  ...     4  2.509901   3.876238
강동연  2016         7     0    23   132  ...     4  7.173913   8.217391
     2018         4     0    35   193  ...     4  5.657143   5.400000
     2019         2     0    15    89  ...     0  7.000000   5.400000
     2020         4     0    41   207  ...     5  5.707317   5.268293
...             ...   ...   ...   ...  ...   ...       ...        ...
황인준  2019         1     0    34   211  ...     4  4.676471   6.352941
황재규  2016         1     0    11    87  ...     2  7.909091  24.545455
후랭코프 2018         0     0   448  2624  ...    11  3.796875   3.736607
     2019         0     0   352  2075  ...    11  2.761364   3.605114
휠러   2018         0     0   305  1896  ...     7  3.983607   5.134426

                  RA9      HR/9        H/9      OAVG      OOBP      OSLG  \
NAME GYEAR
가뇽   2020    4.544554  0.267327   8.554455  0.250000  0.315972  0.425781
강동연  2016    9.391304  2.347826  10.565217  0.310345  0.428571  0.793103
     2018    6.171429  1.542857   7.714286  0.238095  0.312500  0.523810
     2019    5.400000  3.600000  14.400000  0.363636  0.363636  0.909091
     2020    5.268293  1.975610   7.902439  0.244898  0.327273  0.489796
...               ...       ...        ...       ...       ...       ...
황인준  2019    6.352941  1.588235  11.117647  0.304348  0.358491  0.760870
황재규  2016   27.000000  2.454545  24.545455  0.500000  0.541667  0.800000
후랭코프 2018    3.857143  0.723214   7.111607  0.220149  0.316558  0.378731
     2019    3.681818  0.383523   8.437500  0.246637  0.310976  0.394619
휠러   2018    5.488525  1.062295  11.331148  0.312195  0.377193  0.507317

                OOPS
NAME GYEAR
가뇽   2020   0.741753
강동연  2016   1.221675
     2018   0.836310
     2019   1.272727
     2020   0.817069
...              ...
황인준  2019   1.119360
황재규  2016   1.341667
후랭코프 2018   0.695290
     2019   0.705594
휠러   2018   0.884510

[1234 rows x 41 columns]