In [212]:
import numpy as np
import pandas as pd

In [213]:
data = pd.read_csv('C:/Users/user/Desktop/ESC_20_2/ESC_Summer_Team5/data/cleansing_data/개인타자.csv', index_col=0)

In [214]:
data.columns=['게임키','일자','팀코드','상대팀코드','더블헤더코드','초말','선수코드',
            '선발','타순','타자','타수','타점','득점','안타','2루타','3루타',
            '홈런','도루','도루실패','희타','희비','4구','고4','사구','삼진','병살타','실책',
            '잔루','특점권타율','득점권타수','득점권안타','시즌','선수명','포지션',
            '나이','연봉','요일','구장','홈여부']

In [215]:
ab = data.loc[:,'선수코드':'실책']
del ab['선발']
del ab['타순']
ab

,선수코드,타자,타수,타점,득점,안타,2루타,3루타,홈런,도루,도루실패,희타,희비,4구,고4,사구,삼진,병살타,실책
0,60404,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,61102,3,3,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0
2,61186,4,4,2,2,3,0,0,1,0,1,0,0,0,0,0,1,0,0
3,62164,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4,62700,2,2,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81097,75847,4,4,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
81098,76802,4,3,1,0,3,0,0,0,0,0,0,0,1,0,0,0,0,0
81099,77463,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
81100,78168,5,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
81101,79456,4,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [216]:
ab1 = ab[0:18684]
ab2 = ab[18684:37197]
ab3 = ab[37197:55421]
ab4 = ab[55421:73042]
ab5 = ab[73042:]

In [217]:
happy = ab1['선수코드'].unique()
for i in range(len(happy)):
    apple = ab1.loc[ab1.선수코드 == happy[i],'타자':'실책']
    apple = apple.cumsum()
    num = apple.shape[0]
    going = pd.DataFrame(np.repeat(happy[i],num))
    going.index = apple.index
    going.columns = ['선수코드']
    apple = pd.concat([going,apple],axis=1)
    ab1[ab1['선수코드'] == happy[i]] = apple

ab1

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\user\anaconda3\lib\site-packages\pandas\core\frame.py:2957: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.loc._setitem_with_indexer(indexer, value)
C:\Users\user\anaconda3\lib\site-packages\pandas\core\frame.py:2935: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_array(key, value)

,선수코드,타자,타수,타점,득점,안타,2루타,3루타,홈런,도루,도루실패,희타,희비,4구,고4,사구,삼진,병살타,실책
0,60404,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,61102,3,3,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0
2,61186,4,4,2,2,3,0,0,1,0,1,0,0,0,0,0,1,0,0
3,62164,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4,62700,2,2,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18679,78168,646,560,63,111,182,30,7,7,26,13,3,4,69,2,10,58,6,15
18680,78513,113,99,10,16,25,7,0,2,3,3,1,0,7,0,6,25,4,0
18681,79130,80,66,7,10,13,2,0,1,1,3,1,1,11,0,1,24,1,1
18682,79300,106,91,9,16,26,5,0,3,2,2,4,1,10,0,0,16,3,0
18683,79365,454,411,70,44,102,25,1,14,3,1,6,3,27,0,7,93,18,7

In [218]:
happy = ab2['선수코드'].unique()
for i in range(len(happy)):
    apple = ab2.loc[ab2.선수코드 == happy[i],'타자':'실책']
    apple = apple.cumsum()
    num = apple.shape[0]
    going = pd.DataFrame(np.repeat(happy[i],num))
    going.index = apple.index
    going.columns = ['선수코드']
    apple = pd.concat([going,apple],axis=1)
    ab2[ab2['선수코드'] == happy[i]] = apple

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\user\anaconda3\lib\site-packages\pandas\core\frame.py:2957: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.loc._setitem_with_indexer(indexer, value)
C:\Users\user\anaconda3\lib\site-packages\pandas\core\frame.py:2935: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_array(key, value)

In [219]:
happy = ab3['선수코드'].unique()
for i in range(len(happy)):
    apple = ab3.loc[ab3.선수코드 == happy[i],'타자':'실책']
    apple = apple.cumsum()
    num = apple.shape[0]
    going = pd.DataFrame(np.repeat(happy[i],num))
    going.index = apple.index
    going.columns = ['선수코드']
    apple = pd.concat([going,apple],axis=1)
    ab3[ab3['선수코드'] == happy[i]] = apple

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [220]:
happy = ab4['선수코드'].unique()
for i in range(len(happy)):
    apple = ab4.loc[ab4.선수코드 == happy[i],'타자':'실책']
    apple = apple.cumsum()
    num = apple.shape[0]
    going = pd.DataFrame(np.repeat(happy[i],num))
    going.index = apple.index
    going.columns = ['선수코드']
    apple = pd.concat([going,apple],axis=1)
    ab4[ab4['선수코드'] == happy[i]] = apple

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [221]:
happy = ab5['선수코드'].unique()
for i in range(len(happy)):
    apple = ab5.loc[ab5.선수코드 == happy[i],'타자':'실책']
    apple = apple.cumsum()
    num = apple.shape[0]
    going = pd.DataFrame(np.repeat(happy[i],num))
    going.index = apple.index
    going.columns = ['선수코드']
    apple = pd.concat([going,apple],axis=1)
    ab5[ab5['선수코드'] == happy[i]] = apple

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [222]:
data1 = pd.concat([ab1,ab2],axis=0)
data1 = pd.concat([data1,ab3],axis=0)
data1 = pd.concat([data1,ab4],axis=0)
data1 = pd.concat([data1,ab5],axis=0)
data1 = pd.concat([data[['일자']], data1], axis=1)
data1

,일자,선수코드,타자,타수,타점,득점,안타,2루타,3루타,홈런,도루,도루실패,희타,희비,4구,고4,사구,삼진,병살타,실책
0,20160401,60404,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,20160401,61102,3,3,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0
2,20160401,61186,4,4,2,2,3,0,0,1,0,1,0,0,0,0,0,1,0,0
3,20160401,62164,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4,20160401,62700,2,2,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81097,20200719,75847,249,204,36,41,58,13,0,13,5,2,0,0,36,1,9,38,3,2
81098,20200719,76802,149,127,7,10,30,1,0,0,0,1,6,1,13,0,2,11,3,4
81099,20200719,77463,61,56,11,3,17,0,0,2,0,0,0,0,5,1,0,10,2,0
81100,20200719,78168,278,234,26,44,69,9,5,5,16,4,0,3,38,0,3,28,5,2
81101,20200719,79456,157,140,22,14,45,6,1,0,1,0,2,1,12,1,2,17,4,3

# 타율 = 안타/타수

In [223]:
a = data1[['타수']]
b = data1[['안타']]
a_ = a.values 
b_ = b.values

# 타율 계산
x_ = b_/a_

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:7: RuntimeWarning: invalid value encountered in true_divide
  import sys

In [224]:
# NaN 0으로 바꿈
for i in range(len(b_)):
    if b_[i] == 0:
        x_[i] = 0  
        
x = pd.DataFrame(x_)
x.columns=['BA']

# 장타율 = (1루타 * 1 + 2루타 * 2 + 3루타 * 3 + 홈런 * 4) / 타수

In [225]:
c1 = data1[['2루타']]
c2 = data1[['3루타']]
c3 = data1[['홈런']]

c1_ = c1.values
c2_ = c2.values
c3_ = c3.values

# 1루타 계산
c0_ = b_ - (c1_+c2_+c3_)

# 루타수 계산
c4_ = (c0_*1) + (c1_*2) + (c2_*3) + (c3_*4)

# 장타율 계산
x1_ = c4_ / a_

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:16: RuntimeWarning: invalid value encountered in true_divide
  app.launch_new_instance()

In [226]:
# NaN 0으로 바꿈
for i in range(len(x1_)):
    if a_[i]==0:
        x1_[i]=0
        
x1=pd.DataFrame(x1_)
x1.columns = ['SLG']

# 절대 장타율 = 장타율 - 타율

In [227]:
# 절대 장타율 계산
x2_ = x1_ - x_
x2 = pd.DataFrame(x2_)
x2.columns=['IsoP']

# RC = 득점기여도

* RC = (A x B) / C
* A = 안타 + 볼넷 + 사구 - 도루실패 - 병살타
* B = 루타수 + 0.52 x (도루 + 희타 + 희생플라이) + 0.26 x (볼넷 + 사구 - 고의4구)
* C = 타수 + 볼넷 + 사구 + 희타 +  희생플라이

In [228]:
d0 = data1[['4구']]
d1 = data1[['고4']]
d2 = data1[['사구']]
d3 = data1[['도루실패']]
d4 = data1[['병살타']]
d5 = data1[['희타']]
d6 = data1[['희비']]
d7 = data1[['도루']]
d8 = data1[['삼진']]
d0_ = d0.values
d1_ = d1.values
d2_ = d2.values
d3_ = d3.values
d4_ = d4.values
d5_ = d5.values
d6_ = d6.values
d7_ = d7.values
d8_ = d8.values

In [229]:
A_ = b_ + d0_ + d2_ - d3_ - d4_
B_ = c4_ + 0.52*(d7_+d5_+d6_) + 0.26*(d0_+d2_-d1_)
C_ = a_ + d0_ + d2_ + d5_ + d6_

In [230]:
# RC 계산 -> NaN 그대로 놔둠
x3_ = (A_*B_)/C_

x3=pd.DataFrame(x3_)
x3.columns=['RC']

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: divide by zero encountered in true_divide

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in true_divide

# XR
 * 추정득점 -> 타자의 득점공헌도 (RC보다 좋다)
 * 1루타  x 0.5 + 2루타 x 0.72 + 3루타 x 1.04 + 홈런 x 1.44 + (사구+볼넷-고의사구) x 0.34 + 고의사구 x 0.25 + 도루 x 0.18 - 도루실패 x 0.32 - (타수-안타-삼진) x 0.09 - 삼진 x 0.098 - 병살타 x 0.37 + 희생플라이 x 0.37 + 희생번트 x 0.04

In [231]:
# XR 계산
xr_ = c0_ * 0.5 + c1_ * 0.72 + c2_ * 1.04 + c3_ * 1.44 + (d2_+d0_-d1_) * 0.34 + d1_ * 0.25 + d7_ * 0.18 - d3_ * 0.32 - (a_ - b_ - d8_) * 0.09 - d8_ * 0.098 - d4_ * 0.37 + d6_ * 0.37 + d5_ * 0.04

xr = pd.DataFrame(xr_)
xr.columns = ['XR']

# wOBA = 가중 출루율
* 분자 = w1(볼넷 - 고의사구) + w2(사구) + w3(1루타) + w4(2루타) + w5(3루타) + w6(홈런)
* 분모 = 타수 + 볼넷 - 고의사구 + 희생플라이 + 사구

In [232]:
c5=data1[['실책']]
a2=data1[['타자']]
c5_=c5.values
a2_=a2.values

In [233]:
y1_ = ( ( 0.747 * (d0_[0:18684,] - d1_[0:18684,]) ) + (0.774 * d2_[0:18684,]) + (0.944 * c0_[0:18684,]) + (1.273 * c1_[0:18684,]) + (1.569 * c2_[0:18684,]) + (1.898 * c3_[0:18684,]) ) / (a_[0:18684,] + d0_[0:18684,] - d1_[0:18684,] + d6_[0:18684,] + d2_[0:18684,])
y2_ = ( ( 0.728 * (d0_[18684:37197,] - d1_[18684:37197,]) ) + (0.756 * d2_[18684:37197,]) + (0.927 * c0_[18684:37197,]) + (1.259 * c1_[18684:37197,]) + (1.558 * c2_[18684:37197,]) + (1.901 * c3_[18684:37197,]) ) / (a_[18684:37197,] + d0_[18684:37197,] - d1_[18684:37197,] + d6_[18684:37197,] + d2_[18684:37197,])
y3_ = ( ( 0.726 * (d0_[37197:55421,] - d1_[37197:55421]) ) + (0.753 * d2_[37197:55421,]) + (0.920 * c0_[37197:55421,]) + (1.242 * c1_[37197:55421,]) + (1.533 * c2_[37197:55421,]) + (1.857 * c3_[37197:55421,]) ) / (a_[37197:55421,] + d0_[37197:55421,] - d1_[37197:55421,] + d6_[37197:55421,] + d2_[37197:55421,])
y4_ = ( ( 0.721 * (d0_[55421:73042,] - d1_[55421:73042]) ) + (0.752 * d2_[55421:73042,]) + (0.945 * c0_[55421:73042,]) + (1.317 * c1_[55421:73042,]) + (1.653 * c2_[55421:73042,]) + (2.074 * c3_[55421:73042,]) ) / (a_[55421:73042,] + d0_[55421:73042,] - d1_[55421:73042,] + d6_[55421:73042,] + d2_[55421:73042,])
y5_ = ( ( 0.730 * (d0_[73042:,] - d1_[73042:,]) ) + (0.758 * d2_[73042:,]) + (0.935 * c0_[73042:,]) + (1.277 * c1_[73042:,]) + (1.585 * c2_[73042:,]) + (1.942 * c3_[73042:,]) ) / (a_[73042:,] + d0_[73042:,] - d1_[73042:,] + d6_[73042:,] + d2_[73042:,])

# 년도 별로 각기 다른 wOBA 계산 후 다시 병합 -> NaN 그대로 놔둠
x6_ = np.append(y1_,y2_)
x6_ = np.append(x6_,y3_)
x6_ = np.append(x6_,y4_)
x6_ = np.append(x6_,y5_)
print(x6_.shape)

x6 = pd.DataFrame(x6_)
x6.columns = ['wOBA']

(81102,)

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in true_divide
  """Entry point for launching an IPython kernel.
C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in true_divide

C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:3: RuntimeWarning: invalid value encountered in true_divide
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:4: RuntimeWarning: invalid value encountered in true_divide
  after removing the cwd from sys.path.
C:\Users\user\anaconda3\lib\site-packages\ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in true_divide
  """

In [234]:
data1.columns=['GDAY_DS','P_ID','PA', 'AB', 'RBI', 'RUN', 'HIT', 'H2', 'H3',
       'HR', 'SB', 'CS', 'SH', 'SF', 'BB', 'IB', 'HP', 'KK', 'GD', 'ERR']
data_rate = pd.concat([x,x1],axis=1)
data_rate = pd.concat([data_rate,x2],axis=1)
data_rate = pd.concat([data_rate,x3],axis=1)
data_rate = pd.concat([data_rate,xr],axis=1)
data_rate = pd.concat([data_rate,x6],axis=1)

data_final = pd.concat([data1, data_rate],axis=1)
data_final

,GDAY_DS,P_ID,PA,AB,RBI,RUN,HIT,H2,H3,HR,...,HP,KK,GD,ERR,BA,SLG,IsoP,RC,XR,wOBA
0,20160401,60404,1,1,0,0,1,0,0,0,...,0,0,0,0,1.000000,1.000000,0.000000,1.000000,0.500,0.944000
1,20160401,61102,3,3,0,0,0,0,0,0,...,0,2,0,0,0.000000,0.000000,0.000000,0.000000,-0.286,0.000000
2,20160401,61186,4,4,2,2,3,0,0,1,...,0,1,0,0,0.750000,1.500000,0.750000,3.000000,2.022,0.946500
3,20160401,62164,1,0,0,0,0,0,0,0,...,0,0,0,0,0.000000,0.000000,0.000000,0.260000,0.340,0.747000
4,20160401,62700,2,2,0,1,1,0,0,0,...,0,0,0,1,0.500000,0.500000,0.000000,0.500000,0.410,0.472000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81097,20200719,75847,249,204,36,41,58,13,0,13,...,9,38,3,2,0.284314,0.539216,0.254902,48.818956,44.996,0.419915
81098,20200719,76802,149,127,7,10,30,1,0,0,...,2,11,3,4,0.236220,0.244094,0.007874,10.604966,10.682,0.275510
81099,20200719,77463,61,56,11,3,17,0,0,2,...,0,10,2,0,0.303571,0.410714,0.107143,7.881967,7.660,0.347150
81100,20200719,78168,278,234,26,44,69,9,5,5,...,3,28,5,2,0.294872,0.440171,0.145299,44.883237,43.606,0.380906
81101,20200719,79456,157,140,22,14,45,6,1,0,...,2,17,4,3,0.321429,0.378571,0.057143,20.479618,19.494,0.352747

In [211]:
data_final.to_csv('C:/Users/user/Desktop/ESC_20_2/개인타자_시즌별누적_정헌.csv')